# Bootstrap
app/bootstrap*

# Symfony directories
!app/cache/.gitkeep
!app/logs/.gitkeep
build/*
bin/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

*~
*/*~
